<h1 class="text text-center">Venta de Entradas</h1>
<div class="container">

    <div *ngIf="OpcPagina == 'A'">
        <div>
            <button class="btn btn-primary" (click)="BuscarSede()">Registrar Venta de Entradas</button>
        </div>
    </div>

    <div *ngIf="OpcPagina == 'B'">
        <div *ngFor='let i of sede'>
            <button class="btn btn-primary my-2" (click)="BuscarTarifas(i.idSede)">{{i.nombre}}</button>
            
        </div>
    </div>

    <div *ngIf="OpcPagina == 'C'">
        <h2>duracion Estimada por visita completa {{duracion}} Min</h2>
        <div *ngFor='let item of tarifa'>
            <div *ngIf="item.idSede == auxIdSede">
                
                <div class="card">
                    <div class="card-header">
                      Numero Tarifa: {{item.idTarifa}}
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Sede: {{item.idSede}}</h5>
                      <p class="card-text">Tipo Visita: {{tipoVisita[item.idTipoVisita].nombre}}</p>
                      <p class="card-text">Tipo Entrada: {{tipoEntrada[item.idTipoEntrada].nombre}}</p>
                      <a href="#" class="btn btn-primary">Costo: {{item.monto}}</a>
                      <input type="number" value="0">
                    </div>
                  </div>
            </div>
        </div>

    </div>


</div>


<!--
    <div class="row border">
        <div class="col-sm-4">
            
            <label><b>Tipo Entrada</b></label>
            <div class="col">
                <label> Publico en General: ${{TipoEntrada.General}} </label>
            </div>
            <div class="col">
                <label> Menores: ${{TipoEntrada.Menores}}</label>
            </div>
            <div class="col">
                <label> Jubilados: ${{TipoEntrada.Jubilados}}</label>
            </div>
        </div>

            

        
        <div class="col-sm-4">
            <label><b>Tipo Visita</b></label>
            <div class="col">
                <label> Completo: ${{TipoVisita.Completo}}</label>
            </div>
            <div class="col">
                <label> Exposicion: ${{TipoVisita.Exposicion}}</label>
            </div>

        </div>
        <div class="col-sm-4">
            <label><b>Guia</b></label>
            <div class="col">
                <label> SI: ${{Guia.Si}}</label>
            </div>
            <div class="col">
                <label> NO: {{Guia.No}}</label>
            </div>
        </div>
    </div>

    <form [formGroup]="formTarifa">
        <div class="row">
            <label type="text">Entrada </label>
            <div class="col">
                <label type="text">General </label>
                <input class="ml-2"type="checkbox">
            </div>
            <div class="col">
                <label type="text">Menores </label>
                <input class="ml-2"type="checkbox">
            </div>
            <div class="col">
                <label type="text">Jubilados </label>
                <input class="ml-2"type="checkbox">
            </div>
        </div>
        <div class="row">
            <label type="text">Tipo Visita </label>
            <div class="col">
                <label type="text">Completo </label>
                <input class="ml-2"type="checkbox">
            </div>
            <div class="col">
                <label type="text">Exposicion </label>
                <input class="ml-2"type="checkbox">
            </div>
        </div>
        <div class="row">
            <label type="text">Servicio guia </label>
            <div class="col">
                <label type="text">SI </label>
                <input class="ml-2"type="checkbox">
            </div>
            <div class="col">
                <label type="text">NO </label>
                <input class="ml-2"type="checkbox">
            </div>
        </div>
    </form>

    <label> Obra {{Obra.items[0].duracion}}</label>
-->